<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.SNAPSHOT_USER}</username>
      <password>${env.SNAPSHOT_PASS}</password>
    </server>
    <server>
      <id>central</id>
      <username>${env.SNAPSHOT_USER_CENTRAL}</username>
      <password>${env.SNAPSHOT_PASS_CENTRAL}</password>
    </server>
    <server>
      <id>publish.to.repository.id</id>
      <username>${PUBLISH_WITH_USERNAME}</username>
      <password>${PUBLISH_WITH_PASSWORD}</password>
    </server>
  </servers>
</settings>